.App {
  text-align: center;
}

.control-buttons {
  position: relative;
  z-index: 1000;
}

.container {
  margin: 20px auto;
  position: relative;
  height: 300px;
  width: 600px;
  overflow: hidden;
}
html, body {position: relative; margin: 0; width: 100%; height: 100%; overflow: hidden}
      #selections {
	position: fixed;
	left: 50%;
	top: 0;
	z-index: 2;
	width: 100%;
	text-align: center;
	transform: translateX(-50%);
      }
      #selections img {
	border: solid 5px;
	width: 50px;
	height: 50px;
	object-fit: cover;
	cursor: pointer;
	opacity: 0.5;
      }
      #selections img.selected {
	border-color: green;
	opacity: 1;
      }

      #preview {
	position: fixed;
	z-index: 10;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
	border: solid 10px white;
	visibility: hidden;
      }
      #preview-image {
	width: 100%;
	height: 100%;
      }
      #preview-close {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 20px;
	padding: 5px;
	border: solid 1px;
	cursor: pointer;
	color: white;
	border: solid 5px white;
	right: -5px;
	top: -5px;
      }
      #preview-share {
	border: solid 1px;
	text-align: center;
	cursor: pointer;
	background: white;

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
	padding: 10px 30px;
	border-radius: 10px;
	border: none;
      }
      #capture {
	position: fixed;
	bottom: 2vh;
	left: 50%;
	height: 12vw;
	width: 12vw;
	border: solid 2px;
	border-radius: 50%;
	transform: translateX(-50%);
	z-index: 10;
      }